body { background: #9d5dca; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 28px; display: flex; }
.block-payment-0 { color: #284066; font-size: 12px; margin-bottom: 5px; }
.block-user-1 { color: #3d6eb0; font-size: 21px; margin-bottom: 5px; }
.block-uploader-2 { color: #187398; font-size: 19px; margin-bottom: 5px; }
.block-auth-3 { color: #3fba4b; font-size: 14px; margin-bottom: 5px; }
.block-token-4 { color: #b13bf6; font-size: 21px; margin-bottom: 5px; }